* {
	padding: 0px;
	margin: 0%;
	font-family: arial, sans-serif;
}

#container {
	width: 80%;
	margin: 2% auto;
}

.header_links {
	text-align: right;
}

ul li {
	list-style: none;
	display: inline-block;
}

h2, h3	{
	padding-bottom: 20px;
}


fieldset.dash_field {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	padding: 10px;
}
fieldset.dash_field:nth-child(4) {
	margin-left: 20%;
}

fieldset.login {
	width: 28%;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}
fieldset.login:last-child {
	margin-left: 10%;
}
 .warning {
 	padding-bottom: 10px;
 	font-size: 0.8rem;
 }



#quotes_left {
	height: 375px;
	overflow-y: scroll;
}
#quotes_right {
	height: 300px;
	overflow-y: scroll;
}

#new_quote {
	display: inline-block;
	width: 30%;
	margin-left: 55%;
}

label {
	display: inline-block;
	width: 40%;
	padding-bottom: 10px;
}



.quote {
	width: 95%;
	padding-bottom: 20px;
}

.message {
	padding-bottom: 10px;
}

.posted_by {
	font-size: 0.8rem;
	width: 50%;
	display: inline-block;
	vertical-align: bottom;
}

.message span {
	font-weight: bold;
}

.button {
	border-radius: 5px;
	padding: 5px;
	background: blue;
	color: white;
	border: none;	
}

.button2 {
	display: inline-block;
	margin-left: 75%;
	border-radius: 5px;
	padding: 5px;
	background: blue;
	color: white;
	border: none;
}

.single_quote span {
	color: red;
}

.single_quote {
	padding-bottom: 20px;
	width: 50%;
}